{% load static cms_tags menu_tags sekizai_tags %}

<header>
   <h1>Fabien Lacan - 3D</h1> 
   <p>Freelance Unity 3D, Developpement et Infographie.</p>
     
   <canvas>
   </canvas>
<!--    <nav class="navbar">
     <ul id="navbarSupportedContent">
       <li>portfolio</li>
       <li>compétences</li>
       <li>À propos</li>
       <li>Contact</li>
     </ul>
     </nav> -->

<nav class="navbar navbar-expand-lg" id="navbar">
    <h2><a href="#">Fabien Lacan</a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">+</span>
  </button>
    <ul class="collapse navbar-collapse" id="navbarNav">
      <li class="nav-item active">
        <a class="nav-link" href="#">portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">compétences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">À propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Contact</a>
      </li>
    </ul>
 
</nav>




<!--    <ul class="nav">
    {% show_menu 0 100 100 100 %}
</ul> -->


</header>