{% extends "base.html" %}
{% load static cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block content %}



<section class="sec-skills">
      <h2>Compétences</h2>

            {% placeholder "content" %}
            {% include 'skillPlugin/all_skill_plugin.html' %}

           <!--  <li data-percent="75"><span class="text">HTML5</span><span class="bar-circle-right"></span><span class="bar-circle-left"></span><span class="bar-circle-cover"></span><b></b></li>


            <li data-percent="75"><span class="text">Css</span><span class="bar-circle-right"></span><span class="bar-circle-left"></span><span class="bar-circle-cover"></span><b></b></li>
            <li data-percent="75"><span class="text">Js</span><span class="bar-circle-right"></span><span class="bar-circle-left"></span><span class="bar-circle-cover"></span><b></b></li>
             <li data-percent="75"><span class="text">Js</span><span class="bar-circle-right"></span><span class="bar-circle-left"></span><span class="bar-circle-cover"></span><b></b></li>
              <li data-percent="75"><span class="text">Js</span><span class="bar-circle-right"></span><span class="bar-circle-left"></span><span class="bar-circle-cover"></span><b></b></li> --> 


</section>


{% endblock content %}
