@keyframes nabBarLeftAnimate{
  0%{
    height:5rem;
    width:100%;
  }
  50%{
      height:5rem;
      width:10%;
  }
  100%{
      width:10%;
      flex-direction:column;
      height:100%;
      top:0;
      left:0;
  }
}
@keyframes nabBarTopAnimate{
  0%{
    width:10%;
    flex-direction:column;
    height:100%;
    top:0;
    left:0;
  }
  50%{
      height:5rem;
      flex-direction:row;
      width:10%;
  }
  100%{

      height:5rem;
      width:100%;
  }
}



@keyframes blurTitleNav{
  0%{
    line-height: 1rem;
    filter:blur(0px)

  }
  10%{
    line-height:-12px;
    filter:blur(20px)
  }
  50%{
    line-height:1rem;

  }
  80%{
    filter:blur(20px)
  }

  100%{
    line-height: 1rem;
    filter:blur(0px)
  }
}

