@keyframes navBarLeftAnimate{
  0%{
    height:5rem;
    width:100%;
  }
  50%{
      height:5rem;
      width:10%;
  }
  100%{
      width:10%;
      flex-direction:column;
      height:100%;
      position:fixed;

      top:0;
      left:0;
  }
}
@keyframes navBarTopAnimate{
  0%{
    width:10%;
    flex-direction:column;
    height:100%;
    top:0;
    left:0;
  }
  50%{
      width:10%;
      height:5rem;
      top:0;
      left:0;
      flex-direction:row;
  }
  100%{
      height:5rem;
      width:100%;
  }
}

@keyframes navBarTopFixedAnim{
  0%{
    width:100%;
    position:fixed;
    top: -80px;
  }
  100%{
    width:100%;
    position:fixed;
    top: 0px;
  }
}


@keyframes blurTitleNav{
  // 0%{
  //   line-height: 1rem;
  //   filter:blur(0px)

  // }
  // 10%{
  //   line-height:-12px;
  //   filter:blur(20px)
  // }
  // 50%{
  //   line-height:1rem;

  // }
  // 80%{
  //   filter:blur(20px)
  // }

  // 100%{
  //   line-height: 1rem;
  //   filter:blur(0px)
  // }
}

