
.navbar{
  animation-duration: 3s;
  // animation-name: slideinBar;
}

  .navbar-fixed {
      animation-duration: 3s;
      animation-delay:1s;
      animation-name: scale_down_nav;
      animation-fill-mode: forwards;
}




.eventText{
  animation-duration: 2s;
  animation-name:text_fabien_blur_focus;
  animation-delay:1.5s;
  animation-timing-function: linear;

}


@keyframes text_fabien_blur_focus{
  from{
    filter: blur(0.01);
  }
  50%{
    letter-spacing: -0.5em;
    filter: blur(12px) opacity(0%);
  }
  to{
   
    filter: blur(12px);
    opacity: 1;
  }

}



@keyframes scale_down_nav{
  from {
    flex-direction: row;
    position: relative;
    width:100%;
    height:5rem;
  }
  to {
    // flex-direction: column;
    // position: fixed;
    // left: 0;
    // top:0;
    // height: 100%;
    width: 10%;
    height:5rem;

  }
}







// -----------------------Animation for fade out Liste ----------
.listFadeOut{
    animation-name: fadeOut_ul;
    animation-duration: 1s;
    opacity:0;
    display:none;

}


@keyframes fadeOut_ul{
  from{
    opacity: 1;
  }
  to{
    opacity:0;
    display:none;
  }
}