header{
    h1{
      color: $primaryColor;
    }
    #btnNav{
      position: fixed;
      top: 50px;
      right: 0;
    }

    //  Class for animation Navbar
    .navbarBase{
      height:5rem;

    }
    .navbarTop{
      animation: navBarTopAnimate 2s  forwards;
    }
    .navbarTopFixed{
      animation: navBarTopFixedAnim 2s forwards;
    }
    .navbarLeft{
      height:5rem;
      animation: navBarLeftAnimate 2s 0.5s forwards;

    }
    //  Css base Navbar 
    nav{
      display:flex;
      justify-content: space-around;
      padding:$padding;
      background-color: $secondaryColor;
      color:$primaryTextColor;
      a{
        color:$primaryTextColor;
        text-decoration: none;
      }
      h2,ul{
        text-align: center;
        margin: 2% 0;
      }
      .ulLeft{
        flex-direction: column;
        justify-content: space-around;
      }
      .ulTop{
        flex-direction: row;
         justify-content: end;
      }
      // List base 
      ul{
        list-style: none;
        display: flex;
        justify-content: end;
        padding: 0;
        padding-right: 10%;
        width: 50%;
        li{
          text-transform: full-width;
          font-size: 80%;
          font-weight: bolder;

        }
      }


      .nav-link-icon{
        display:none;
        font-size:4rem;
      }


      .titleblur{
        animation:blurTitleNav 1s 0.5s;
      }



    }
}