.mainSection{
  width:80%;
  margin: auto;
  margin-right:auto;



}

.mainSectionLeft{
    width: 80%;
    margin-left: auto;
    margin-right: 5%;

}


.sec-skills{
  background-color: $primaryColor;
}