header{

  h1{
    color: $primaryColor;
  }
  #btnNav{
    position: fixed;
    top: 50px;
    right: 0;
  }
  .navbarLeft{
    position:fixed;
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    padding:$padding;
    background-color: $secondaryColor;
    color:$primaryTextColor;
    height:100%;
    width:10%;
    top:0;
    left:0;



  }
  .navbarTop{
    display:flex;
    justify-content: space-around;
    padding:$padding;
    background-color: $secondaryColor;
    color:$primaryTextColor;
    height:5rem;

    a{
      color:$primaryTextColor;
      text-decoration: none;
    }
    h2,ul{
      text-align: center;
      margin: 2% 0;
    }
    .listIcon{
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    ul{

      list-style: none;
      display: flex;
      justify-content: end;
      padding: 0;
      width: 50%;

      li{
        text-transform: full-width;
        font-size: 80%;
        font-weight: bolder;
        .nav-link-icon{
          font-size:4rem;
          display:none;
        }
        .nav-link-icon:hover{
          color:red;
        }
      }
    }
    button{
      background: $primaryColor;
      span{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
      }
    }
  }



}






















@media screen and (max-width:990px) {
header {

  .navbar{
      ul{
        display:grid;
        grid-template-columns: 1fr 1fr;
         li{
          font-size: 100%;
        }
      }

   }

  }
}

@media screen and (max-width:500px) {
header {

  .navbar{
      ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        li{
          font-size: 80%;
        }
    
      }

   }

  }
}


