
@import 'variables';
@import 'mixins';
@import 'animation';
@import 'header';
@import 'main';

html,body,.container,#containerNav,header{
  height:100%;
}

body{
  margin: 0;
  .container{
    margin:0;
    padding: 0;
    max-width: 100%;
  }
}

